<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About Me</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
Saranya B. Mangal, is a promising young Veena and Vocal artist from Trivandrum.
Born to B Balasubramoni and Chitra M, she had her initial training from her
grandmother Smt N Lalitha (prime disciple of Padmabhushan Sangita Kalanidhi Sri
KS Narayanaswamy) and vocal training from Sri Nedumkunnam Sreedev. Currently
she is undergoing advanced training under Padmashri Parassala B Ponnammal.
She was the winner of All India Radio Competition in the Instrumental Category
(Veena) for the year 2009 at the age 16 and for Carnatic Vocal for the year 2012.
Now she is “A-Grade” artist in Veena and “B - High” Grade artist in Carnatic Vocal.
She is the youngest musician to secure "A" grade for Veena from All India Radio
Trivandrum. 
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>

She has been awarded the senior scholarship for Veena from the Central
Government of India in the year 2012.
                
She is a recipient of several laurels in her musical career. She has won many StateNational
level music competitions and has given many concerts all over India. She
was a continuous winner in State level School and University Youth festivals.
                
Saranya has completed her B Tech in Applied Electronics and Instrumentation and
M tech in VLSI & Embedded Systems with University rank.
            </p>
        </div>
    </div>
         <div class="col-md-6">
            <h1>Awards & Recognitions</h1>
        </div>
        <div class="col-sm-12 col-md-6">
         <p>
             <li>Winner of All India radio National Music Competition for Veena (2009)</li>
             <li>Winner of All India radio National Music Competition for Carnatic Vocal (2012)</li>
             <li>National Youth festival Winner (2011) held at Amritsar, Ministry of Youth Affairs</li>
             <li>Recipient of Senior Scholarship ,Ministry of Culture</li>
             <li>Yuva Sangeetha Prathibha Puraskar 2013 by Swaranjali, Trivandrum</li>
             <li>Sree Neelakanta Sivan Sangeetha Sabha Trust Yuva Puraskar 2014</li>
        </div>     
         <div class="col-md-6">
            <h1>Prominent Music performances</h1>
        </div>
        <div class="col-sm-12 col-md-6">
         <p>
             <li>Sri Shanmukhananda Sabha, Mumbai</li>
             <li>Narada gana Sabha, Chennai</li>
             <li>Neelakanta Sivan Sangeetha Sabha, Trivandrum</li>
             <li>Edapally Sangeetha Sabha, Cochin</li>
             <li>Sri Krishna Gana Sabha, Mavelikara</li>
             <li>Chembai Sangeetha Bhavan, Kannur</li>
             <li>Chembai Sangeetholsavam, Guruvayur</li>
             <li>Sri Muttuswami Deekshithar Trust, Shimogga, Karnataka</li>
             <li>Sri Muttuswami Deekshithar Trust, Ettayapuram, Tamilnadu</li>
        </div>        
</section>













